frostcfg:
    # Insert your own client ID here
    client_id: 'd2b03a77-4f61-48d9-86a5-fa4551aa123c'
    # Define endpoint and parameters
    # For JSON dump
    #endpoint: 'https://frost.met.no/observations/v0.jsonld'
    # For CSV dump
    endpointobs: 'https://frost.met.no/observations/v0.csv'
    endpointmeta: 'https://frost.met.no/sources/v0.jsonld'
    endpoint: 'https://frost.met.no/observations/v0.jsonld'
    endpointparameters: 'https://frost.met.no/observations/availableTimeSeries/v0.jsonld'
    stations:
        - 'SN76920'
    fields:
        - 'referenceTime,elementId,SourceId,value,level'
output:
    json_path: '/home/albertor/METNO/Work/ADC/Implement/Stations/element_to_gcmd_ordered.json'
    destdir: '/home/albertor/METNO/Work/WindWave/Data/Ekofisk'
    #destdir: '/home/albertor/METNO/ADC/Implement/Stations/test_fixed/test'
    logfile: '/home/albertor/METNO/Work/ADC/Implement/Stations/test_fixed/extract-weather.log'    
attributes:
        'PrincipalInvestigator': 'MET'
        'PrincipalInvestigatorEmail': 'adc-support@met.no'
        'PrincipalInvestigatorOrganisation': 'Norwegian Meteorological Institute (MET)'
        'PrincipalInvestigatorOrganisationURL': 'met.no'
        'Project': 'Arctic PASSION, APPLICATE, SIOS'
        'abstract': 'Weather station data extracted from FROST, the observation database of the Norwegian Meteorological Institute. Data are extracted and converted to NetCDF-CF. Data are received in real time to this database. This is a quality controlled data.'
        'contributor': 'Alberto S. Rabaneda'

