frostcfg:
    # Insert your own client ID here
    client_id: 'd2b03a77-4f61-48d9-86a5-fa4551aa123c'
    # Define endpoint and parameters
    # For JSON dump
    #endpoint: 'https://frost.met.no/observations/v0.jsonld'
    # For CSV dump
    endpointobs: 'https://frost.met.no/observations/v0.csv'
    endpointmeta: 'https://frost.met.no/sources/v0.jsonld'
    endpoint: 'https://frost.met.no/observations/v0.jsonld'
    endpointparameters: 'https://frost.met.no/observations/availableTimeSeries/v0.jsonld'
    stations:
        - 'SN99790'
    fields:
        - 'referenceTime,elementId,SourceId,value,level'
output:
    json_path: '/home/albertor/METNO/ADC/Implement/Stations/element_to_gcmd_ordered.json'
    destdir: '/home/albertor/METNO/ADC/Implement/Stations/test_fixed'
    #destdir: '/home/albertor/METNO/ADC/Implement/Stations/test_fixed/test'
    logfile: '/home/albertor/METNO/ADC/Implement/Stations/test_fixed/extract-weather.log'    
attributes:
        'PrincipalInvestigator': 'Alberto S. Rabaneda'
        'PrincipalInvestigatorEmail': 'albertor@met.no'
        'PrincipalInvestigatorOrganisation': 'Meteorologisk Institutt'
        'PrincipalInvestigatorOrganisationURL': 'met.no'
        'Project': 'ExtractFromFrost'
        'abstract': 'Weather station data extracted from the observation database of the Norwegian Meteorological Institute. Data are extracted and converted to NetCDF-CF. Data are received in real time to this database. '


